@model OnlineOrganizationManagementSystem.Models.ViewModels.DashboardViewModel

<div class="container justify-content-center">

    <div class="row">
    <h1 class="text-white mt-5">Dashboard</h1>
    <h6 id="greeting">Hello!</h6>
    </div>
    <div class="row my-4">

        <div class="card bg-primary-glass text-white m-2">
            <div class="card-body m-2 align-self-stretch">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="card-title mb-0">Tasks</h3>
                    <i class="bx bx-task fa-2x"></i>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-4">
                    @if (Model.Tasks.Count == 0)
                    {
                        <h5>No tasks scheduled in the next 5 days.</h5>
                    }
                    else
                    {
                        @foreach (var task in Model.Tasks)
                        {
                            <div>
                                <h5>@task.Name is @task.Status</h5>
                                <h3>@task.DueDate.ToShortDateString()</h3>
                                @*<p>@task.TeamId</p>*@
                            </div>
                        }
                        <a asp-controller="Tasks" asp-action="Index" class="btn btn-primary shadow ml-auto mt-4">View Tasks</a>
                    }

                </div>
            </div>
        </div>
        <div class="card bg-primary-glass text-white m-2">
            <div class="card-body m-2 align-self-stretch">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="card-title mb-0">Meetings</h3>
                    <i class="bx bx-video fa-2x"></i>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-4">
                    @if (Model.Meetings.Count == 0)
                    {
                        <h5>No meetings scheduled in the next 5 days.</h5>
                    }
                    else
                    {
                        @foreach (var meeting in Model.Meetings)
                        {
                            <div class="mb-4">
                                <h5>
                                    @meeting.Title on
                                    @meeting.Details
                                </h5>
                                @*<p>@meeting.TeamId</p>*@
                                <h3>@meeting.Date.ToString()</h3>
                            </div>
                        }
                        <a asp-controller="CalendarEvent" asp-action="Index" class="btn btn-primary shadow ml-auto mt-4">View Schedule</a>
                    }

                </div>
            </div>
        </div> 
        <div class="card bg-primary-glass text-white m-2">
            <div class="card-body m-2 align-self-stretch">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="card-title mb-0">Zen out</h3>
                    <i class="fas fa-leaf fa-2x"></i>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-4">
                    <ul>
                        <p>Remember to take breaks every now and then to avoid burnout. Here are some tips:</p>
                        <li><i class="fas fa-shoe-prints"></i>&nbsp;&nbsp;Take a walk outside</li>
                        <li><i class="fa fas fa-spa"></i>&nbsp;&nbsp;&nbsp;Stretch or do some light exercises</li>
                        <li><i class="fa fas fa-mug-hot"></i>&nbsp;&nbsp;&nbsp;Drink some water or tea</li>
                        <li><i class="fa fas fa-music"></i>&nbsp;&nbsp;&nbsp;Listen to calming music</li>
                    </ul>
                    <a asp-action="Music" class="btn btn-primary shadow ml-auto mt-4">Listen to some music</a>

                </div>
            </div>
        </div>
    </div>
</div>

