@model OnlineOrganizationManagementSystem.Models.AttendanceRecord

@{
    ViewData["Title"] = "Details";
}

<div class="mx-5 d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="bg-primary-glass p-3">
        <h2 class="fw-bolder mt-2">
            AttendanceRecord</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresenceStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresenceStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRecord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRecord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
        <div>
     
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>
    </div>
</div>