@model IEnumerable<OnlineOrganizationManagementSystem.Models.AttendanceRecord>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center">
    <h2 class="fw-bolder my-4">
        Attendance Log
    </h2>
    @if(!ViewBag.AttendanceRecordExists){

    <a asp-action="Create" class="btn btn-primary mt-4">+ Create New</a>
    }
</div>
@if (!Model.Any())
{
    <div class=" bg-primary-glass p-4">
        <h4 class="text-center ">No Attendance yet!</h4>
    </div>

}
else{
    <table class="table glass rounded">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateRecord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresenceStatus)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRecord)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresenceStatus)
            </td>
          
            <td>
                
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
}