@using Microsoft.AspNetCore.Identity;
@model IEnumerable<OnlineOrganizationManagementSystem.Models.CalendarEvent>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using OnlineOrganizationManagementSystem.Data
@inject ApplicationDbContext _context
@{
    ViewData["Title"] = "Index";
}

   
    <div class="glass container p-5 shadow border-0">
        @if ((SignInManager.IsSignedIn(User) && User.IsInRole("Admin")))
        {

            <a asp-action="EventTable" class="btn btn-secondary mb-3">Event Controls</a>

        }
        @if ((SignInManager.IsSignedIn(User) && User.IsInRole("Manager")))
        {
            @if (_context.Teams
           .Any(t => t.UIUXDeveloperId == UserManager.GetUserId(User) || t.FrontendDeveloperId == UserManager.GetUserId(User) || t.BackendDeveloperId == UserManager.GetUserId(User) || t.TesterId == UserManager.GetUserId(User) || t.TeamLeadId == UserManager.GetUserId(User) || t.ReportsToId == UserManager.GetUserId(User)))
            {
                <a asp-controller="Meetings" asp-action="Create" class="btn btn-secondary glass mb-3">+ Create Meeting</a>
                <a asp-controller="Meetings" asp-action="Index" class="btn btn-secondary glass mb-3">View Meetings</a>
            }

        }
        <div id='calendar'></div>
    </div>

@section scripts {
    
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    selectable: true,
                    editable: false,
                    events: [
                @foreach (var item in Model)
                {
                    var editUrl = Url.Action("Edit", "CalendarEvents", new { id = item.Id });
                    var deleteUrl = Url.Action("Delete", "CalendarEvents", new { id = item.Id });
                    @Html.Raw("{")
                    @Html.Raw($"title: '{item.Title}',")
                    @Html.Raw($"start: '{item.Date.ToString("yyyy-MM-dd")}',")
                    @Html.Raw($"url: '{editUrl}',")
                    @Html.Raw($"editUrl: '{editUrl}',")
                    @Html.Raw($"deleteUrl: '{deleteUrl}',")
                    @Html.Raw("},")
                }],
                    
                });
                calendar.render();
            });
        </script>
}