@model IEnumerable<OnlineOrganizationManagementSystem.Models.Messages>

@{
    ViewData["Title"] = "Index";
}


<div class="d-flex justify-content-between align-items-center">
    <h2 class="fw-bolder mt-4">Updates</h2>

    <a asp-action="Create" class="btn btn-primary shadow ml-auto mt-4">+ Create New</a>
   
</div>
@if (Model.Any())
{
    <div class="row my-4">
        <div class="col-md-4">
            <div class="card bg-primary-glass text-white">
                <div class="card-body m-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-0">Opened</h5>
                        <i class="fas fa-file-alt fa-2x"></i>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <p class="card-text mb-0 display-4 fw-bolder">@Model.Count((e => e.Status=="Opened"))</p>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-primary-glass text-white">
                <div class="card-body m-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-0">Working</h5>
                        <i class="fas fa-spinner fa-2x"></i>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <p class="card-text mb-0 display-4 fw-bolder">@Model.Count((e => e.Status=="Working"))</p>

                    </div>
                </div>
            </div>
        </div> 
        <div class="col-md-4">
            <div class="card bg-primary-glass text-white">
                <div class="card-body m-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-0">Closed</h5>
                        <i class="fas fa-check-circle fa-2x"></i>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <p class="card-text mb-0 display-4 fw-bolder">@Model.Count((e => e.Status=="Closed"))</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
<table class="table glass">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SenderMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SenderMail.UserName)
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.ReceiverMail.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td class="@item.Status">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
               @if (User.Identity.Name != item.SenderMail){
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
               @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
}
else{
    <div class="glass p-4">
    <h4 class="text-center ">No Messages yet!</h4>
    </div>
}
