@model IEnumerable<OnlineOrganizationManagementSystem.Models.Messages>

@{
    ViewData["Title"] = "Index";
}


<div class="d-flex justify-content-between align-items-center my-4">
    <h2 class="fw-bolder">Messages</h2>
  
        <a asp-action="Create" class="btn btn-primary shadow ml-auto">+ Create New</a>
   
</div>
@if (Model.Any())
{
<table class="table glass">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SenderMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SenderMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiverMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td class="@item.Status">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
else{
    <div class="glass p-4">
    <h4 class="text-center ">No Messages yet!</h4>
    </div>
}
