@model Teams

@{
    ViewData["Title"] = "Details";
}

<div class="mx-5 d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="bg-primary-glass p-3">
        <h2 class="fw-bolder mt-2">@ViewData["Title"]</h2>
        <hr />
        <dl class="row ">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UIUXDeveloperId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UIUXDeveloperId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontendDeveloperId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontendDeveloperId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackendDeveloperId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackendDeveloperId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TesterId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TesterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamLeadId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamLeadId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportsToId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportsToId)
        </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>
    </div>
</div>