@using OnlineOrganizationManagementSystem.Data;
@model IEnumerable<Teams>
@inject ApplicationDbContext _context;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                UI/UX Developer
            </th>
            <th>
                Frontend Developer
            </th>
            <th>
                Backend Developer
            </th>
            <th>
                Tester
            </th>
            <th>
                Team Lead
            </th>
            <th>
                Reports To
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @{
                        var uiuxDeveloper = await _context.Users.FindAsync(item.UIUXDeveloperId);
                        if (uiuxDeveloper != null)
                        {
                            @uiuxDeveloper.Email
                        }
                    }
                </td>
                <td>
                    @{
                        var frontendDeveloper = await _context.Users.FindAsync(item.FrontendDeveloperId);
                        if (frontendDeveloper != null)
                        {
                            @frontendDeveloper.Email
                        }
                    }
                </td>
                <td>
                    @{
                        var backendDeveloper = await _context.Users.FindAsync(item.BackendDeveloperId);
                        if (backendDeveloper != null)
                        {
                            @backendDeveloper.Email
                        }
                    }
                </td>
                <td>
                    @{
                        var tester = await _context.Users.FindAsync(item.TesterId);
                        if (tester != null)
                        {
                            @tester.Email
                        }
                    }
                </td>
                <td>
                    @{
                        var teamLead = await _context.Users.FindAsync(item.TeamLeadId);
                        if (teamLead != null)
                        {
                            @teamLead.Email
                        }
                    }
                </td>
                <td>
                    @{
                        var reportsTo = await _context.Users.FindAsync(item.ReportsToId);
                        if (reportsTo != null)
                        {
                            @reportsTo.Email
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>