@using OnlineOrganizationManagementSystem.Data;
@model IEnumerable<Teams>
@inject ApplicationDbContext _context;
@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center">
    <h2 class="fw-bolder mt-4">My Teams</h2>
    @if (User.IsInRole("Manager"))
    {
        <a asp-action="Create" class="btn btn-primary shadow ml-auto mt-4">+ Create New</a>
    }
</div>

@if (!Model.Any())
{
    <div class="glass p-4">
        <h4 class="text-center ">No Teams yet!</h4>
    </div>
}
<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card glass shadow border-0 my-2">
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col-sm-10">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Description)</h6>
                    </div>
                    <div class="col-sm-2 text-right">
                        <div class="badge badge-box text-primary">@Html.DisplayFor(modelItem => item.ProjectStatus)</div>
                    </div>
                </div>

                <hr>
                <h6 class="card-subtitle mb-2 text-muted">Team Members</h6>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <i class="fas fa-palette fa-3x mb-3"></i>
                                <h5 class="card-title">UI/UX Developer</h5>
                                <p class="card-text">
                                    @{
                                        var uiuxDeveloper = await _context.Users.FindAsync(item.UIUXDeveloperId);
                                        if (uiuxDeveloper != null)
                                        {
                                            @uiuxDeveloper.Email
                                        }
                                    }
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <i class="fas fa-code fa-3x mb-3"></i>
                                <h5 class="card-title">Frontend Developer</h5>
                                <p class="card-text">
                                    @{
                                        var frontendDeveloper = await _context.Users.FindAsync(item.FrontendDeveloperId);
                                        if (frontendDeveloper != null)
                                        {
                                            @frontendDeveloper.Email
                                        }
                                    }
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <i class="fas fa-server fa-3x mb-3"></i>
                                <h5 class="card-title">Backend Developer</h5>
                                <p class="card-text">
                                    @{
                                        var backendDeveloper = await _context.Users.FindAsync(item.BackendDeveloperId);
                                        if (backendDeveloper != null)
                                        {
                                            @backendDeveloper.Email
                                        }
                                    }
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <i class="fas fa-bug fa-3x mb-3"></i>
                                <h5 class="card-title">Tester</h5>
                                <p class="card-text">
                                    @{
                                        var tester = await _context.Users.FindAsync(item.TesterId);
                                        if (tester != null)
                                        {
                                            @tester.Email
                                        }
                                    }
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <i class="fas fa-user-tie fa-3x mb-3"></i>
                                <h5 class="card-title">Team Lead</h5>
                                <p class="card-text">
                                    @{
                                        var teamLead = await _context.Users.FindAsync(item.TeamLeadId);
                                        if (teamLead != null)
                                        {
                                            @teamLead.Email
                                                        }
                                    }
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <i class="fas fa-user-shield fa-3x mb-3"></i>
                                <h5 class="card-title">Reports To</h5>
                                <p class="card-text">
                                    @{
                                        var reportsTo = await _context.Users.FindAsync(item.ReportsToId);
                                        if (reportsTo != null)
                                        {
                                            @reportsTo.Email
                                                        }
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                    </div>
                <hr>
                <div class="card-footer">
                    @if (User.IsInRole("Manager"))
                    {
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                       @* <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>*@
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <a class="btn btn-warning" asp-action="Close" asp-route-id="@item.Id">Close Project</a>
                    }
                    <a class="btn btn-secondary" asp-controller="Tasks" asp-action="Index">View Tasks</a>
                    <a class="btn btn-secondary" asp-controller="Expenses" asp-action="Index">View Expenses</a>
                </div>
            </div>
        </div>
    }
</div> 